@charset   "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Playwrite+VN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Playwrite+VN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Playwrite+AU+SA:wght@100..400&family=Playwrite+VN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body 
{
    color: rgb(180, 180, 180);
    background-image: linear-gradient(to bottom, rgb(10, 10, 11), rgb(5, 5, 10));
}

header{
    font-size: 1.7em;
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, rgb(120, 40, 100), rgb(50, 50, 100) 90%);
}

header > h1{
    font-family: "Playwrite VN", serif;
}

main{
    height: 100vh;
}

.conteiner{
    padding: 20px 0px;
    height: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pai{
    height: 100vh;
    width: 300px;
    padding: 20px;
    perspective: 2000px;
}

.card{
    padding-top: 100px;
    transform-style: preserve-3d;
    background-color: blue;
    width: 100%;
    transition: all .3s ease-in-out;
    border-radius: 10px;
}

.card:hover{
    background-position: 80% 20%;
    transform: rotate3d(0.5, 1, 0, 30deg);
}

.caixa-de-conteudo{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.811);
    border-radius: 0px 0px 10px 10px;
    box-shadow:0px 20px 50px -25px rgba(0, 115, 255, 0.925);
    padding: 50px 25px 25px 25px;
    transform-style: preserve-3d;
    transition: all .3s ease-in-out;
}

.titulo-card{
    color: White;
    font-size: 25px;
    font-weight: 900;
    transform: translate3d(0px, 0px, 20px);
    transition: all .3s ease-in-out;
}

.titulo-card:hover{
    transform: translate3d(0px, 0px, 50px);
}

.conteudo-card{
    padding-top: 15px;
    font-size: 14px;
    transform: translate3d(0px, 0px, 15px);
    transition: all .3s ease-in-out;
}

.conteudo-card:hover{
    transform: translate3d(0px, 0px , 30px);
}

.veja-mais{
    font-weight: 900;
    display: block;
    color: white;
    font-size: 20px;
    transform: translate3d(0px, 0px, 20px);
    transition: all .3s ease-in-out;
}

.veja-mais:hover{
    transform: translate3d(0px, 0px, 50px);
}

.caixa-date{
    position: absolute;
    top: 75px;
    left: 22px;
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0px 15px 60px 0px rgba(0, 115, 255, 0.925), 0px 18px 36px -18px rgba(0, 200, 255);
    transform: translate3d(0, 0, 20px);
}

.caixa-date> span{
    display: block;
    text-align: center;
}

.caixa-date .mes{
    color: white;
    font-size: 15px;
}

.caixa-date .date{
    font-weight: 900;
    font-size: 30px;
    color: rgba(0, 136, 255);
}

.card2{
    filter: hue-rotate(130deg);
}
.card3{
    filter: hue-rotate(200deg);
}

.card4{
    filter: hue-rotate(300deg);
}

div.caixa-de-conteudo > a{
    text-decoration: none;
}